<body>
  <div class='title'>
    <span>Connect</span>
  </div>
  <hr>
  <p>Welcome to <%= link_to 'Connect', root_url %>, <%= @user.name %>!</p>
  <p>You have succesfully signed up with <i><%= @user.email %></i> — login <%= link_to 'here', new_user_session_url %>.</p>
  <p>Thanks for joining!!!</p>
</body>