<p>
  <strong>
  <%= comment.user.name %>
  </strong>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<%if comment.user == current_user %>
<p>
    <%=button_to 'Delete comment', comment_url(comment_id: comment.id, id: comment.user.id), method: :delete %>
</p>
<%end%>