


<div class = "container d-flex justify-content-between">
    <% if user_signed_in? %>
    <div> 
    <br>
    </div>
    
    <div class="main-container w-75 p-2" > 
        <%=image_tag(current_user.avatar_url) if current_user.avatar? %>
        <div class="align-item-center">
            <%=render 'form' %>
        </div>
        
        <%=render 'feed' %>
      
    </div>
    
    <div class = "ml-auto p-2">
        <%= render 'friendreq'%>
    </div>
    <%else%>
        <h2 class = "main-container"> Welcome to Fakebook! </h2>
    <%end%>
</div>
